.wp-block-gpb-blocks-button-block {
  a,
  a:hover {
    text-decoration: none !important;
  }
  &.single-product-btn {
    text-align: center;
    padding: 20px 40px;
  }
  &.single-product-btn a {
    padding: 16px 24px 14px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    line-height: 18px;
    position: relative;
    margin-bottom: 0;
    border-radius: 3px;
    position: relative;
    z-index: 5;
  }
  &.single-product-btn a:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.2);
  }
  &.single-product-btn a:hover:after {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .wp-block-gpb-blocks-button-block {
    &.single-product-btn {
      padding: 20px !important;
    }
  }
}
